:host {
  background-color: #aabbff;
  padding: 10px;
}

.prix {
  color: #0000ff;
  font-weight: bold;
  font-size: 2rem;
}

.taxes {
  color: #00aaaa;
  font-size: 1.5rem;
}

.dates {
  color: #9b9b9b;
  font-size: 1rem;
}