<button (click)="onSelect(undefined)" mat-raised-button color="primary">
  <i class="material-icons">add</i> Ajouter un hotel
</button>

<table mat-table #hotelTable [dataSource]="hotels">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let hotel">{{ hotel.id }}</td>
  </ng-container>
  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef>Nom</th>
    <td mat-cell *matCellDef="let hotel">{{ hotel.nom }}</td>
  </ng-container>
  <ng-container matColumnDef="coordonnees">
    <th mat-header-cell *matHeaderCellDef>Coordonnées</th>
    <td mat-cell *matCellDef="let hotel">{{ hotel.coordonnees }}</td>
  </ng-container>
  <ng-container matColumnDef="nombreEtoiles">
    <th mat-header-cell *matHeaderCellDef>nombreEtoiles</th>
    <td mat-cell *matCellDef="let hotel">
      <rating-star [stars]="hotel.nombreEtoiles"></rating-star>
    </td>
  </ng-container>
  <ng-container matColumnDef="nombreChambres">
    <th mat-header-cell *matHeaderCellDef>nombreChambres</th>
    <td mat-cell *matCellDef="let hotel">{{ hotel.nombreChambres }}</td>
  </ng-container>
  <ng-container matColumnDef="caracteristiques">
    <th mat-header-cell *matHeaderCellDef>Caractéristiques</th>
    <td mat-cell *matCellDef="let hotel">{{ hotel.caracteristique }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let hotel" class="boutonsAction">
      <button (click)="onSelect(hotel)" mat-button>
        <i class="material-icons">edit</i>
      </button>
      <button (click)="onDelete(hotel)" mat-button>
        <i class="material-icons">delete</i>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
